* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}
:root {
  --bd-purple: #4c0bce;
  --bd-violet: #712cf8;
  --bd-dark-gray: #242424;
  --bd-light-grey: #dadada;
  --bd-white: #ffffff;

  --font-size-xxs: 1.4rem;
  --font-size-xs: 1.6rem;
  --font-size-s: 1.8rem;
  --font-size-m: 2rem;
  --font-size-l: 2.6rem;
  --font-size-xl: 3rem;
  --font-size-xxl: 4rem;
  --font-size-xxxl: 6.2rem;
}
html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 62.5%;
}
body {
}

nav {
  width: 100%;

  color: var(--bd-white);
  font-size: var(--font-size-s);

  background: linear-gradient(90deg, var(--bd-violet) 0%, var(--bd-purple) 40%, var(--bd-violet) 100%);

  z-index: 10000000;
}
nav div a i {
  font-size: var(--font-size-l);
}
.nav-list .nav-list__list-group {
  width: 100%;
}
.nav-list .nav-list__list-group li {
  list-style: none;
}


.presentation {
  width: 100%;
  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../resources/bg-presentation.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.presentation div {
  height: 100vh;
}
.presentation div div {
  display: flex;
  align-items: center;

  text-align: center;
}
.presentation div div h2 {
  color: var(--bd-violet);
  font-size: var(--font-size-l);
  font-weight: lighter;
}
.presentation div div p {
  font-size: var(--font-size-m);
}
.presentation div div h2 span {
  font-weight: bold;
  letter-spacing: 0;
}

.contact-home div div div a i {
  font-size: var(--font-size-xl);
}

.section-titles {
  padding: 4rem 0 6rem;
  border-bottom: 2px solid var(--bd-purple);

  color: var(--bd-violet);
  font-size: var(--font-size-xxl);
  text-align: center;
}

.who-am-i div, .skills, .what-can-i-do {
  color: var(--bd-dark-gray);
  font-size: var(--font-size-xs);
}
.who-am-i div h3, .skills h3, .what-can-i-do h3 {
  margin-bottom: 2rem;

  font-size: var(--font-size-m);
}

.who-am-i div:nth-child(1) {
  display: none;
}
.who-am-i div button {
  border: .2rem solid var(--bd-violet);

  color: #fff;
  font-size: var(--font-size-s);

  background-color: var(--bd-violet);
}
.who-am-i div button:hover {
  color: var(--bd-violet);

  border: .2rem solid var(--bd-violet);
}

.what-can-i-do .what-can-i-do__card {
  padding: 2rem;
  border-top: 5px solid var(--bd-violet);
}
.what-can-i-do .what-can-i-do__card i {
  display: block;

  margin: 0rem 0 2rem;

  text-align: center;
  font-size: var(--font-size-xl);
}
.what-can-i-do  .what-can-i-do__card h4 {
  font-size: var(--font-size-m);
}

.skills .mySwiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  text-align: center;
}
.skills .mySwiper .swiper-wrapper .swiper-slide i, .skills .mySwiper .swiper-wrapper .swiper-slide img {
  width: 36px;
  padding-bottom: 1rem;

  color: #000;
  font-size: var(--font-size-xxl);

  opacity: .6;
}
.skills .mySwiper .swiper-wrapper .swiper-slide p {
  display: flex;
  align-items: center;

  font-size: var(--font-size-xxs);
}

.portafolios .portafolios__card-container {
  margin: 10rem 0;
}


.mydiv {
  position: relative;

  background: #fff;
}
.sometxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: #000;
}
.animate-bg:before, .animate-bg:after {
  content: '';
  position: absolute;
  left: 0px;
  top: -20px;
  background: linear-gradient(120deg, #4c0bce, #712cf8, #7f43f8, #935cff, #9e6eff);
  background-size: 300%;
  width: calc(100%);
  height: calc(100%);
  z-index: -1;
  animation: BGgradient 20s ease infinite;
}

@keyframes BGgradient {
  0% {
    background-position: 0% 200%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 330%;
  }
}