html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Rooter */
:root {
  --bd-purple: #4c0bce;
  --bd-violet: #712cf8;
  --bd-dark-gray: #242424;
  --bd-light-grey: #faf7fa;
  --bd-white: #ffffff;

  --font-size-xxs: 1.4rem;
  --font-size-xs: 1.6rem;
  --font-size-s: 1.8rem;
  --font-size-m: 2rem;
  --font-size-l: 2.6rem;
  --font-size-xl: 3rem;
  --font-size-xxl: 4rem;
  --font-size-xxxl: 6.2rem;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto Condensed', sans-serif;
}
/* Navigation */
nav {
  width: 100%;

  color: var(--bd-white);
  font-size: var(--font-size-s);

  background: linear-gradient(90deg, var(--bd-violet) 0%, var(--bd-purple) 40%, var(--bd-violet) 100%);

  z-index: 10000000;
}
/* Navigation - Logotype */
.nav__logotype {
  display: flex;
  gap: .5rem;

  margin: 1rem 0rem;

  text-decoration: none;
}
.nav__logotype i {
  color: var(--bd-white);
  font-size: var(--font-size-l);
}
/* Navigation - Show Button */
.nav__show-button {
  background: none;
}
.nav__show-button i {
  color: var(--bd-white);
  font-size: var(--font-size-m);
}
/* Navigation - hidden Button */
.nav__hidden-button {
  color: var(--bd-white);
  font-size: var(--font-size-m);
}
/* Navigation Bar */
.navigation-bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background: var(--bd-purple);
}
.navigation-bar--hidden {
  transform: translateX(100%);
  transition: .5s;
}
.navigation-bar--show {
  transform: translateX(0);
  transition: .5s;
}
/* Navigation Bar - List */
.navigation-bar__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;

  text-align: center;
}
/* Navigation Bar - Container Hidden Button */
.navigation-bar__container-hidden-button {
  position: absolute;
  top: 1rem;
  right: 2rem;
}
/* Navigation Bar - Sections */
/* Navigation Menu */
.navigation-menu {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  padding: 0;
}
.navigation-menu__item {
  font-size: var(--font-size-l);
  font-weight: bold;
}
/* Navigation Bar - Phone Number */
.navigation-bar__phone-number {
  display: none;
}

/* Section - Presentation */
.presentation {
  width: 100%;
  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/img/bg-presentation.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.presentation div {
  height: 100vh;
}
.presentation__my-info {
  display: flex;
  align-items: center;

  text-align: center;
}
.presentation__my-info h2 {
  color: var(--bd-violet);
  font-size: var(--font-size-l);
  font-weight: lighter;
}
.presentation__my-info p {
  font-size: var(--font-size-m);
}
.presentation__my-info span {
  font-weight: bold;
  letter-spacing: 0;
}

/* Section - Home Contact Me */
.home-contact-me__contact-icons a {
  margin-right: 1rem;

  font-size: var(--font-size-l);
  text-decoration: none;
}

/* Main */
/* Main Titles */
.main-titles {
  padding: 4rem 0;
  /* border-bottom: 2px solid var(--bd-purple); */

  color: var(--bd-violet);
  font-size: var(--font-size-xxl);
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
}
/* Main Paragraph */
.main-paragraph {
  color: var(--bd-white);
  font-size: var(--font-size-m);
  text-align: center;
}
/* Main Titles Color */
.main-titles--color {
  color: var(--bd-white);
}
/* Section - About Me */
/* Who Am I */
.who-am-i {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.who-am-i__picture img {
  width: 100%;
}
.who-am-i__my-description , .what-can-i-do, .skills {
  color: var(--bd-dark-gray);
  font-size: var(--font-size-xs);
}
.who-am-i__my-description h3, .what-can-i-do h3, .skills h3 {
  margin: 2rem 0;

  font-size: var(--font-size-m);
}
.who-am-i__my-description p {
  margin-bottom: 2rem;
}
/* Button Template */
.button-template {
  /* display: flex;
  justify-content: center;
  align-items: end; */

  display: inline-block;

  padding: .6rem 2rem;
  border: .2rem solid var(--bd-violet);
  margin-bottom: 2rem;
  border-radius: 5px;

  color: var(--bd-white);
  font-size: var(--font-size-m);
  text-decoration: none;

  background-color: var(--bd-violet);
  
  cursor: pointer;
}
.button-template:hover {
  color: var(--bd-violet);

  border: .2rem solid var(--bd-violet);
  background-color: var(--bd-white);
}
.button-template i {
  margin-left: 1rem;
}
/* Card Template */
.card-template {
  display: flex;
  flex-direction: column;
  justify-content: start;

  height: 100%;
  padding: 2rem;
  border-top: 5px solid var(--bd-violet);

  background: var(--bd-white);
}
.card-template--between {
  justify-content: space-between;
}
.card-template__icon {
  margin: 0rem 0 2rem;

  text-align: center;
  font-size: var(--font-size-xl);
}
.card-template h4 {
  font-size: var(--font-size-m);
}
.card-template p {
  font-size: var(--font-size-s);
}
.card-template__figure {
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;

  background: #000;
}
.card-template__img {
  width: 100%;
  height: 250px;
  
  object-fit: cover;
  object-position: center;

  opacity: .6;
}
.card-template:hover img {
  opacity: 1;
  transition: .3s;
}
.card-template__technologies {
  display: flex;
  gap: 1rem;

  margin-bottom: 1rem;

  font-size: var(--font-size-l);
}
/* Swiper */
.skills .mySwiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  text-align: center;
}
.swiper-slide i, .swiper-slide img {
  width: 4rem;
  padding-bottom: 1rem;

  color: #000;
  font-size: var(--font-size-xxl);

  opacity: .6;
}
.swiper-slide p {
  display: flex;
  align-items: center;

  font-size: var(--font-size-xxs);
}
/* Section Portafolios */
.portafolios {
  background: var(--bd-light-grey);
}
/* Footer */
footer {
  background: var(--bd-purple);
}
/* Footer List */
.footer-list {
  gap: 2.5rem;

  padding: 2rem 0 4rem 0;
  margin: 0;
  
  font-size: var(--font-size-xl);
}
.footer-list li {
  list-style: none;
}
.footer-list li a {
  color: var(--bd-white);
  text-decoration: none;
}
