.presentation div div {
  display: flex;
  align-items: start;

  text-align: start;
}
.presentation div div h2 {
  font-size: var(--font-size-xxxl);
}

.contact-home div div div a i {
  font-size: var(--font-size-xxl);
}

.about div h2 {
  padding-top: 8rem;
}

.who-am-i div, .skills {
  font-size: var(--font-size-m);
}
.who-am-i div:nth-child(2) {
  display: block;
}
.who-am-i div h3, .skills h3 {
  font-size: var(--font-size-xl);
}