/* Section Presentation */
.presentation__my-info {
  display: flex;
  align-items: start;

  text-align: start;
}
.presentation__my-info h2 {
  font-size: var(--font-size-xxxl);
}
/* Main Titles */
.main-titles {
  padding-top: 8rem;
}
/* Who Am I */
.who-am-i {
  flex-direction: column;
}
.who-am-i__picture img {
  /* display: none; */

  width: 100%;
}
.who-am-i__my-description, .skills, .what-can-i-do {
  font-size: var(--font-size-m);
}
.who-am-i__my-description h3, .skills h3, .what-can-i-do h3 {
  font-size: var(--font-size-xl);
}
/* Card Template  */
.card-template {
  padding: 2rem;
}
.card-template__icon {
  font-size: var(--font-size-xxl);
}
.card-template h4 {
  font-size: var(--font-size-l);
}

